.boat 
{
    position: fixed;
    bottom: 80px;
    left: -100px;
    font: 40px;
    z-index: -1;
    animation: sail 15s linear infinite;
    font-size: 150px;
}

@keyframes sail
{
    0% {left: -100px; }
    100% {left: calc(100% + 50px);}
}
